script src="javascripts/vendor/jquery.js"
script src="javascripts/foundation/foundation.js"
/ script src="javascripts/foundation/foundation.abide.js"
/ script src="javascripts/foundation/foundation.alerts.js"
/ script src="javascripts/foundation/foundation.clearing.js"
/ script src="javascripts/foundation/foundation.cookie.js"
script src="javascripts/foundation/foundation.dropdown.js"
/ script src="javascripts/foundation/foundation.forms.js"
/ script src="javascripts/foundation/foundation.interchange.js"
/ script src="javascripts/foundation/foundation.joyride.js"
/ script src="javascripts/foundation/foundation.magellan.js"
script src="javascripts/foundation/foundation.orbit.js"
/ script src="javascripts/foundation/foundation.placeholder.js"
/ script src="javascripts/foundation/foundation.reveal.js"
script src="javascripts/foundation/foundation.section.js"
/ script src="javascripts/foundation/foundation.tooltips.js"
script src="javascripts/foundation/foundation.topbar.js"
script src="javascripts/plugin/jquery.easytabs.min.js"
script src="javascripts/plugin/jquery.ba-hashchange.min.js"
script src="javascripts/main-ck.js"
script $(document).foundation();