nav.top-bar
  ul.title-area
    li.name
      h1: a href="index.html" AIGA Hawaii 5-0
      li.toggle-topbar.menu-icon
        a href="#"
          span Menu
  section.top-bar-section
    ul.right
      li.has-dropdown
        a href="about.html" About &amp; How-to
        ul.dropdown
          li: a href="criteria.html" Criteria &amp; Requirements
          li: a href="feesdeadlines.html" Fees &amp; Deadlines
          li: a href="dropoff.html" Drop-off locations
          li: a href="winners.html" Winners
          li: a href="faqs.html" FAQ&rsquo;s
      li: a href="judges.html" Judges
      li: a href="theshow.html" 2013 5-0 Show
      / li: a href="http://50.aigahonolulu.org" target="_blank" Edit Entries
  ul.secondary.inline-list
    li: a href="joinaiga.html" Join AIGA
    li: a href="aboutaiga.html" About AIGA
