doctype html
/[if IE 8]
  | <html class="no-js lt-ie9">
/[if IE 9]
  | <html class="ie9">
html.no-js
  /! <![endif]
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width"
    title AIGA Honolulu's Hawaii 5-0 Awards
    link rel="stylesheet" href="stylesheets/app.css"  
    script type="text/javascript" src="//use.typekit.net/scs0rmb.js"
    script try{Typekit.load();}catch(e){}
      
    body
      header
        == File.read(File.join(File.dirname(__FILE__), '_nav.html'))

      section#page-title-blue
        .row
          .large-12.columns
            h1 About 5-0
      section#about50
        .row
          .large-12.large-centered.columns
            p Hawaii’s 5-O design competition seeks to celebrate graphic design excellence in all its forms. Eligible projects — including identities, printed pieces, web sites or motion graphics — will be judged by the merit of their design.
            p This year’s competition will see several firsts. For the first time in 5-O history, we’re opening up <a href="criteria.html">eligibility</a> to print projects printed outside of Hawaii as well as to motion graphics projects. Our esteemed <a href="judges.html">judges</a> will choose the top 50 designs, regardless of category. We expect a record number of entries, with fewer slots for <a href="winners.html">winners</a>. (At the last show, there were 60 winners because winning web sites were chosen in addition to the 50 print winners.) The result is that competition will be fierce.
            p The winning selections will be announced at the <a href="theshow.html">Award Show</a> on Saturday, October 26, 2013 aboard the USS Battleship Missouri. It will be a night to remember. May the best designs win.
      section#about-nav
        .whitebg.small-6.columns &nbsp;
        a.right-pag href="criteria.html"
          .small-6.columns
            p Next
            h2 Criteria

  == File.read(File.join(File.dirname(__FILE__), '_footer.html'))