/* line 11, styles.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "atrament-web", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em; }

/* line 18, styles.scss */
.brand {
  font-family: "atrament-web", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal !important;
  letter-spacing: 0.1; }

/* line 24, styles.scss */
p {
  font-family: "proxima-nova", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5; }

/* line 30, styles.scss */
a {
  color: #0088b3; }

/* line 34, styles.scss */
.navbar .navbar-inner {
  border: none !important; }

/* line 38, styles.scss */
.navbar .page-menu .nav {
  float: right; }
  /* line 40, styles.scss */
  .navbar .page-menu .nav a {
    font-family: "proxima-nova", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 18px !important;
    color: #0088b3 !important;
    letter-spacing: 0.1em;
    font-weight: normal;
    color: #333; }
  /* line 48, styles.scss */
  .navbar .page-menu .nav .icon-cogs {
    color: #000 !important; }
  /* line 52, styles.scss */
  .navbar .page-menu .nav > li:first-child a {
    padding-left: 30px;
    padding-right: 30px;
    background: #0088b3;
    font-size: 24px !important;
    letter-spacing: 0.1em;
    font-weight: normal;
    font-family: "atrament-web", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    color: white !important; }

/* line 65, styles.scss */
html {
  min-height: 100%;
  background: url(/mainsite/images/eaglehalftone.jpg) fixed no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto; }

/* line 71, styles.scss */
body {
  height: 100%;
  background: none; }

/* line 76, styles.scss */
#page {
  height: 100%; }

/* line 81, styles.scss */
#contents {
  height: 100%; }

/* line 85, styles.scss */
#page > .container {
  background: white url(/mainsite/images/ornate-top.gif) no-repeat;
  background-position: top center;
  padding: 50px 40px 40px;
  margin: 50px auto;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); }

/* line 94, styles.scss */
#adminMenu li a {
  letter-spacing: 0;
  font-weight: normal; }

/* line 101, styles.scss */
.login-form p {
  font-weight: normal;
  font-size: 14px; }
  /* line 104, styles.scss */
  .login-form p #signup-link {
    font-size: inherit; }

/* line 111, styles.scss */
.entry-container h3 {
  font-size: 50px;
  font-family: "proxima-nova", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
  letter-spacing: 0; }
/* line 117, styles.scss */
.entry-container h5 {
  font-size: 18px; }
/* line 120, styles.scss */
.entry-container .row.entry {
  margin: 10px 0 !important;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3) !important;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3) !important;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3) !important; }

/* line 126, styles.scss */
legend h3 {
  font-family: "atrament-web", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  font-size: 40px !important; }

/* line 131, styles.scss */
#deleteEntryModal {
  background: white url(/mainsite/images/ornate-top.gif) no-repeat;
  background-position: top center;
  padding: 50px 10px 30px; }
  /* line 135, styles.scss */
  #deleteEntryModal h3 {
    font-family: "atrament-web", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }
  /* line 138, styles.scss */
  #deleteEntryModal .modal-header .close {
    margin-top: -53px; }

/* line 143, styles.scss */
.edit-user-info-form {
  margin: 20px 0 20px; }

/* line 147, styles.scss */
footer {
  font-family: "proxima-nova", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase; }
  /* line 152, styles.scss */
  footer .links a {
    color: #0088b3;
    font-size: 12px !important;
    letter-spacing: 0.1em; }
  /* line 158, styles.scss */
  footer p {
    color: #000;
    font-size: 12px !important;
    text-align: right;
    letter-spacing: 0.1em; }

/* line 166, styles.scss */
.file-message {
  font-family: "proxima-nova", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

/* line 171, styles.scss */
.rate-sidebar .small {
  font-size: 12px; }

/* line 177, styles.scss */
.footer .container {
  width: 1024px; }
