.icon-right {
  line-height: 22px;
  margin-right: 0;
  margin-left: 8px;
}
.icon-left {
  line-height: 24px;
  margin-right: 8px;
  margin-left: 2px;
}
.icon-middle {
  line-height: 24px;
  margin-right: 0;
  margin-left: 0;
}

.entry-container {
  /*border: 3px solid #596974;*/
  padding: 12px;

  #entryList {
    margin-top: 25px;
  }
  #newEntry {
    margin-top: 25px;
  }
  #newEntryForm {
    width: 84.8%;
  }

  .top {
    /*border-bottom: 3px solid #596974;
    margin: -12px -12px 0 -12px;
*/
    .entry-list-container {
      /*border-right: 3px solid #596974;*/

      .entry {
        h3 {
          margin-top: 0;
        }
      }
    }
  }
}

#newEntryForm {
  .file-list {
    font-size: 12px;
  }
}

.user-info-container {
  border-top: 1px solid #ddd;
}