

.icon-right {
  line-height: 22px;
  margin-right: 0;
  margin-left: 8px;
}
.icon-left {
  line-height: 24px;
  margin-right: 8px;
  margin-left: 2px;
}
.icon-middle {
  line-height: 24px;
  margin-right: 0;
  margin-left: 0;
}
legend {
  margin-bottom: 0;
  display: inherit;
  width: 100%;
}
.required-star {
  color: #F38AA4;
}
.btn-mini {
  font-size: 14px;
}
.edit-profile {
  margin-right: 10px;
}
#notes {
  margin-bottom: 30px;
}
.entry-container {
  /*border: 3px solid #596974;*/
  padding: 12px;

  .register-form, .login-form {
    margin-bottom: 25px;

    legend {
      margin-bottom: 20px;
    }
  }

  #forgot-password-link {
    padding-top: 0;
    cursor: pointer;
    text-decoration: none;
    i {
      font-size: 16px;
      color: rgb(130, 146, 167);
      line-height: 18px;
      margin-right: 7px;
    }
  }

  .signup-container {
    text-align: center;
    padding-top: 16px;

    .btn {
      margin-left: 8px;
      font-weight: bold;
      font-size: inherit;
    }
  }

  .no-entries {
    line-height: 26px;
    font-size: 20px;
  }
  #entryList {
    margin-top: 25px;
  }
  #newEntry {
    margin-top: 7px;
  }
  #newEntryForm {
    width: 84.8%;

    .team_info {
      line-height: 33px;
      margin: 13.5px 0;
    }
  }

  h3 {
    margin-top: 0;
  }
  h4 {
    line-height: 32px;
  }
  h5 {
  }

  .top {
    /*border-bottom: 3px solid #596974;
    margin: -12px -12px 0 -12px;
*/
    .entry-list-container, .admin-entries-container {
      /*border-right: 3px solid #596974;*/

      .entry {
        background: white;
        padding-top: 8px;
        padding-bottom: 20px;
        margin-left: 0;
        margin-bottom: 30px;

        -webkit-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.2);
        -moz-box-shadow:    2px 2px 5px rgba(50, 50, 50, 0.2);
        box-shadow:         2px 2px 5px rgba(50, 50, 50, 0.2);

        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;


        .entry-buttons {
          margin-top: 12px;

          .edit-project {
            margin-right: 12px;
          }
          .remove-project {

          }
        }

      }
    }
  }

  .edit-entry-form {
    display: none;
  }
}

.file-list {
  margin-top: 6px;
  .no-files {
    color: #aaa;
  }
  li {
    line-height: 32px;
  }
  .file-icon {
    margin-right: 5px;
  }
  .icon-file-alt {
    line-height: 20px;
  }
  .icon-remove-sign {
    cursor: pointer;
    line-height: 22px;
  }
}

#newEntryForm {
  .file-list {
    font-size: 12px;
  }

  .file-message {
    padding: 5px 10px 10px 10px;
    font-size: .9em;
  }
}

.payup-sucka, .print-form-btn {
  margin-bottom: 20px;
}
.print-form-btn {
  margin-left: 10px;
}
.squared-away {
  margin-top: 6px;
  text-align: right;
  width: 100%;
  font-size: .8em;
  font-weight: bold;
}
.user-list {
  width: 1240px;
}
.user-info-container {
  border-top: 1px solid #ddd;

  .edit-user-info {
    margin-left: 0;
  }
  .user-info {
    margin-top: 10px;
    margin-bottom: 12px;

    p {
      margin-bottom: 0;
    }
  }
}

.admin-entries-container {
  .title-row {
    margin-left: -15px;
    margin-bottom: 5px;
  }
  h4 {
    margin: 0 30px 3px 0;
  }
  h5 {
    margin-top: 2px;
  }
  .span4 {
    margin-left: 16px;
    margin-top: 5px;
  }
  .entry {
    background: white;
    padding-top: 8px;
    padding-bottom: 20px;
    margin-left: 0;
    margin-bottom: 30px;

    -webkit-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    2px 2px 5px rgba(50, 50, 50, 0.2);
    box-shadow:         2px 2px 5px rgba(50, 50, 50, 0.2);

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;


    .entry-buttons {
      margin-top: 12px;

      .edit-project {
        margin-right: 12px;
      }
      .remove-project {

      }
    }

  }
  .entry-buttons {
    text-align: left;
  }
  .squared-away {
    text-align: left;
  }
}


.numberCircle {
  cursor: pointer;

  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;

  width: 12px;
  height: 12px;
  padding: 4px;
  line-height: 12px;

  background: #596974;
  border: 2px solid #596974;
  color: white;
  text-align: center;

  font-size: 12px;
}

.ui-pnotify-closer {
  .icon-remove {
    line-height: 21px;
  }
}

@page {
  size: A4;
  margin: 0;
}
@media print {
  .navbar, .footer {
    display: none;
  }
  .print-form-container {
    height: 29.7cm;
    min-height: 29.7cm !important;
    page-break-after: always;
    padding-left: 2cm;
    padding-right: 2cm;


  }
  .cutout-instructions {
    margin-top: 50px;
    text-align: center;
    display: block !important;
  }
  .cutouts {
    display: block !important;

    h2 {
      font-family: "proxima-nova", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
      font-size: 28px;
    }
  }
}
.project-label {

}
.print-cutout {
  margin-top: 10px;
  padding: 15px 0;
  border: 1px dotted black;
  text-align: center;
}
.cutouts, .cutout-instructions {
  display: none;
}
