// Style SCSS

///////////////////////////////////

/* Table of Contents

0.0 Variables
0.0 Global
0.0 Style Elements
0.0 Typography
0.0 Homepage Styles

*/

///////////////////////////////////


///////////////////////////////////

/* 0.0 Variables */

///////////////////////////////////

// Colors
$darkblue: #39637c;
$blue:     #0088b3;
$red:      #991f27;
$grey:     #d4d4d4;

$slab: "ff-ernestine-web-pro", Georgia, serif;

$small-max: "only screen and (max-width: #{$small-screen})";
$starred-breakpoint: "only screen and (max-width: 485px)";
$topbar-media-query-max: "only screen and (max-width: #{$topbar-breakpoint})";


///////////////////////////////////

/* 0.0 Global */

///////////////////////////////////

html {
  background: #333;
  height: 100%;
}
body {
  height: 100%;
}

.container {
  background: white;
  height: 100%;
}

.top-bar {
  position: relative;
  .name {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    h1 {
      background: url(../images/aiga-flag.png) no-repeat;
      @include background-size(190px auto);
      a {
        padding: 0 30px 0 187px
      }
    }
  }
  .secondary {
    position: absolute;
    z-index: 10;
    top: 8px;
    right: 30px;
    li a {
      font-family: $slab;
      color: #000;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: emCalc(12px);
    }
  }
  .top-bar-section {
    li a {
      font-family: $header-font-family;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-weight: 300;
      @media #{$topbar-media-query-max} {
        color:#fff;
      }
    }
    .dropdown > li a {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}


///////////////////////////////////

/* 0.0 Style Elements */

///////////////////////////////////

.starred { // Adds white stars arround headline
  position: relative;
  display: inline-block;
  &:before, &:after {
    content: " ";
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    background: url(../images/star.png);
    background-size: 100%;
    top: 37%;
    @media #{$starred-breakpoint} {
      display:none;
    }
  }
  &:before {
    left: -50px;
  }
  &:after {
    right: -50px;
  }
}



.slab { // Slab Small Caps
  font-family: $slab;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}


///////////////////////////////////

/* 0.0 Homepage Styles */

///////////////////////////////////

#intro {
  min-height: 100%;
  background: url(../images/bg-intro.jpg);
  @include background-size(cover);
  text-align: center;
  padding: emCalc(80px) 0 0;
  .graphic {
    position: relative;
    .early, .final {
      position: absolute;
      top: 40%;
      @media #{$small-max} {
        top:100%;
      }
    }
    .early {
      left: 0;
    }
    .final {
      right: 0;
    }
    h5 {
      text-transform: uppercase;
      font-size: emCalc(24px);
      letter-spacing: 0.1em;
    }
  }
  .eagle {
    max-width: 400px;
    width:100%;
    margin-bottom: 50px;
  }
  h1 {
    @extend .starred;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    @media #{$small-max} {
      margin-top:100px;
    }
  }
  h3 {
    text-align: justify;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 60px;
    line-height: 2;
    font-weight:100;
  }
  .cta {
    @include clearfix;
    background: $darkblue;
    border-top: 1px solid #183a48;
    border-bottom: 1px solid #183a48;
    .columns {
        @include transition(all 0.25s ease-in);
      }
    a:hover .columns {
      background: #183a48;
    }
    a:first-child .columns {
      border-right: 2px dotted #183a48;
    }
    h4 {
      @extend .starred;
      margin-top: emCalc(30px);
      color: white;
      text-transform: uppercase;
      font-size: emCalc(40px);
      letter-spacing: 0.3em;
    }
    p {
      font-size: emCalc(24px);
      margin-bottom: emCalc(60px);
    }
  }
}

#enough {
  background: url(../images/Designer.jpg) no-repeat;
  @include background-size(cover);
  text-align: center;
  h1 {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: white;
    font-size: emCalc(54px);
    padding: emCalc(100px) 0;
    margin: 0;
  }
}

#show {
  background: url(../images/eaglehalftone.jpg);
  @include background-size(cover);
  padding: emCalc(120px) 0;
  span {
    font-family:$body-font-family;
    font-weight:600;
  }
  .panel {
    background: #fff url(../images/ornate-top.gif) no-repeat;
    background-position: top center;
    padding-bottom: emCalc(30px);
    position: relative;
    &:before {
      content: " ";
      display: block;
      width: 300px;
      height: 90px;
      background: url(../images/year-2013.png);
      position: absolute;
      top: -60px;
      right: -10px;
      @media only screen and (max-width: 1020px) {
        right: 0px;
      }
    }
    .date {
        text-transform: uppercase;
        text-align:left;
        @media only screen and (min-width: #{$small-screen}) {
          position:relative;
          bottom:-65px;
        }
      h5 {
        letter-spacing:3px;
      }
      h1 {
        letter-spacing:16px;
        color:$red;
        font-size:$h1-font-size * 1.25;
        line-height:1;
        @media #{$small-max} {
          font-size:$h2-font-size;
        }
      }
    }
    .info {
      text-transform: uppercase;
      text-align:left;
      border-bottom:1px solid $grey;
      border-left:1px solid $grey;
      border-right:1px solid $grey;
      &.info-top {
        border-top:1px solid $grey;
      }
      &:last-child {
        border:#fff;
        h5 {
          padding-top:10px;
        }
      }
      h2 {
        margin:10px 0 10px;
      }
      h5 {
        letter-spacing:5px;
      }
      .theader {
        @media #{$small-max} {
          h5 {
            letter-spacing:0px;
          }
        }
      }
      .small-2 {
        h5 {
          padding-top:15px;
          text-align:right;
        }
      }
      .small-10 {
        border-left:4px double $grey;
      }
      .border-right {
        @media only screen and (min-width: #{$small-screen}) {
          border-right-width:4px;
          border-right: double $grey;
        }
      }
      .cost {
        margin-top:10px;
        padding-top:15px;
        h5 span {
          font-size:$h2-font-size;
          line-height:1;
        }
      }
    }
  }
  text-align: center;
  .seal {
    max-width: 150px;
    margin-top:70px;
    @media only screen and (min-width: #{$small-screen}) {
      margin-top: -80px;
    }
  }
  h2 {
    font-size: emCalc(36px);
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin: emCalc(20px) 0 emCalc(10px);
  }
  .subheader {
    font-size: 1.3em;
    margin-bottom: 20px;
    em {
      font-family: $body-font-family;
      letter-spacing: 0.1em;
    }
  }
}