// Style SCSS

///////////////////////////////////

/* Table of Contents

0.0 Variables
0.0 Global
0.0 Style Elements
0.0 Typography
0.0 Homepage Styles

*/

///////////////////////////////////


///////////////////////////////////

/* 0.0 Variables */

///////////////////////////////////

// Colors
$darkblue:   #39637c;
$blue:       #0088b3;
$red:        #991f27;
$grey:       #d4d4d4;
$dark-grey:  #999;
$offwhite:   #f7f7f4;

$slab: "ff-ernestine-web-pro", Georgia, serif;

$small-max: "only screen and (max-width: #{$small-screen})";
$medium-max: "only screen and (max-width: #{$medium-screen})";
$starred-breakpoint: "only screen and (max-width: 485px)";
$topbar-media-query-max: "only screen and (max-width: #{$topbar-breakpoint})";

@mixin no-pm {
  padding:0;
  margin:0;
}

///////////////////////////////////

/* 0.0 Global */

///////////////////////////////////

html {
  background: #333;
  height: 100%;
  @media #{$medium-max} {
    background-color: #395b6e;
  }
}
body {
  height: 100%;
}

body > section {
  padding:emCalc(60px) 0;
}

.container {
  background: white;
  height: 100%;
}

.top-bar {
  position: relative;
  z-index:1001;
  .name {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    h1 {
      background: url(../images/aiga-flag.png) no-repeat;
      @include background-size(190px auto);
      a {
        padding: 0 30px 0 187px
      }
    }
  }
  li.back a {
    color:#fff !important;
  }
  .secondary {
    position: absolute;
    z-index: 10;
    top: 8px;
    right: 30px;
    li {
      font-family:$header-font-family;
      color:$grey;
      vertical-align: center;
    }
    li a {
      font-family: $slab;
      color: #000;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: emCalc(12px);
    }
  }
  .top-bar-section {
    li a {
      font-family: $header-font-family;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-weight: 300;
      @media #{$topbar-media-query-max} {
        color:#fff;
      }
    }
    // ul li:last-child {
    //   //pointer-events: none;
    //   //cursor: default;
    //   a {
    //     color: $red !important;
    //   }
    //   &:hover a {
    //     //pointer-events: none;
    //     //cursor: default;
    //     //color: #DDD !important;
    //   }
    // }
    .dropdown > li a {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

a.btn {
  background:$red;
  display:block;
  color:#fff;
  font-family:$header-font-family;
  text-transform: uppercase;
  font-size:32px;
  padding:30px 20px;
  margin:50px auto 40px;
  text-align:center;
  @include border-radius(5px);
  @include transition(background-color 0.3s);
  &:hover {
    background-color: darken($red,2.5%);
    @include box-shadow(inset rgba(0,0,0,.5) 0 0 10px);
  }
  @media #{$small-max} {
    font-size:24px;
    width:50%;
  }
}

h1.title {
  @include no-pm;
  text-transform:uppercase;
  text-align:center;
  font-size:400%;
  color:#fff;
  letter-spacing: 10px;
  margin-bottom:60px;
  @media #{$small-max} {
    font-size: 200%;
  }
}

#page-title-red {
  background:$red url('../images/bg-judges.jpg') top center fixed;
  background-size:cover;
  padding:40px 0;
  @include box-shadow(inset rgba(0,0,0,0.25) 0 0 20px);
  h1 {
    @include no-pm;
    text-transform:uppercase;
    text-align:center;
    font-size:650%;
    color:#fff;
    letter-spacing: 10px;
    &.toobig {
      font-size:500%;
    }
    @media #{$small-max} {
      font-size: 500%;
      &.toobig {
        font-size:300%;
      }
    }
  }
}

#page-title-blue {
  background:#1a3e6b url('../images/bg-yell.jpg') top center fixed no-repeat;
  background-size:100% auto;
  padding:40px 0;
  @include box-shadow(inset rgba(0,0,0,0.25) 0 0 20px);
  h1 {
    @include no-pm;
    text-transform:uppercase;
    text-align:center;
    font-size:650%;
    color:#fff;
    letter-spacing: 10px;
    &.toobig {
      font-size:500%;
    }
    @media #{$small-max} {
      font-size: 500%;
      &.toobig {
        font-size:300%;
      }
    }
  }
}
#page-title-black {
  background:#333 url('../images/bg-blackboard.jpg') top center fixed no-repeat;
  background-size:100% auto;
  padding:40px 0;
  @include box-shadow(inset rgba(0,0,0,0.25) 0 0 20px);
  h1 {
    @include no-pm;
    text-transform:uppercase;
    text-align:center;
    font-size:650%;
    color:#fff;
    letter-spacing: 10px;
    &.toobig {
      font-size:500%;
    }
    @media #{$small-max} {
      font-size: 500%;
      &.toobig {
        font-size:300%;
      }
    }
  }
}

///////////////////////////////////

/* 0.0 Style Elements */

///////////////////////////////////

.starred  { // Adds white stars arround headline
  position: relative;
  display: inline-block;
  &:before, &:after {
    content: " ";
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    background: url(../images/star.png);
    background-size: 100%;
    top: 37%;
    @media #{$starred-breakpoint} {
      display:none;
    }
  }
  &:before {
    left: -50px;
  }
  &:after {
    right: -50px;
  }
}



.slab { // Slab Small Caps
  font-family: $slab;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}


///////////////////////////////////

/* 0.0 Homepage Styles */

///////////////////////////////////

#eventdone {
  padding:0;
  width: 100%;
  float: left;
  .copy {
    position:relative;
    top: 500px;
    z-index:98;
    margin-top:-450px;
    background:#eee;
    color:$body-bg;
    min-height: 430px;
    @include box-shadow(rgba(0,0,0,.5) 0 0 80px);
    padding:30px;
    @media #{$small-max} {
      position:inherit;
      top:auto;
      margin-top:0;
      min-height:0;
    }
    p {
      &:first-child {
        @media screen and (min-width:1150px) {
          margin-top: 50px;
        }
      }
      &:last-child {
          margin-bottom:0;
      }
    }
  }
  .photolink,
  .winnerbooklink {
    min-height:600px;
    @include box-shadow(inset rgba(0,0,0,.5) 0 0 150px);
    transition: box-shadow 500ms ease-in;
    min-height: 680px;
    @media #{$small} {
      margin-top: -130px;
    }
    @media #{$small-max} {
      min-height:300px;
    }
    &:hover {
      @include box-shadow(inset rgba(0,0,0,.75) 0 0 300px);
    }
    p, h2 {
      position:relative;
      top:300px;
      color:#fff;
      text-shadow:0 0 10px rgba(0,0,0,.75);
      margin:0;
      @media #{$small-max} {
        top:120px;
        text-align:center;
      }
    }
    h2 {
      text-transform: uppercase;
    }
  }
  .photolink {
    background: url(../images/bg-missouri.jpg);
    
    @media #{$small-max} {
      background-position:left center;
    }
  }
  .winnerbooklink {
    background: url(../images/bg-50book.jpg);
    p, h2 {
      text-align:right;
      @media #{$small-max} {
        text-align:center;
      }
    }
  }
}

#intro {
  //min-height: 100%;
  background: url(../images/bg-intro.jpg);
  @media #{$medium-max} {
    background: none !important;
  }
  @include background-size(cover);
  text-align: center;
  padding: emCalc(80px) 0 0;
  .graphic {
    position: relative;
    padding-top: 65px;
    h5 {
      color: #FFF;
      text-transform: uppercase;
      font-size: emCalc(24px);
      letter-spacing: 0.1em;
    }
    .early, .final {
      position: absolute;
      top: 75%;
      @media #{$small-max} {
        top:100%;
      }
    }
    .early {
      left: 0;
      p, h5 {
        color:#58849c;
      }
    }
    .final {
      right: 0;
      p, h5 {
        color:#58849c;
      }
    }
  }
  .eagle {
    max-width: 400px;
    width:100%;
    margin-bottom: 50px;
  }
  h1 {
    @extend .starred;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    @media #{$small-max} {
      margin-top:100px;
    }
  }
  h3 {
    text-align: justify;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 60px;
    line-height: 2;
    font-weight:100;
  }
  .cta {
    @include clearfix;
    background: $darkblue;
    border-top: 1px solid #183a48;
    border-bottom: 1px solid #183a48;
    .columns {
        @include transition(all 0.25s ease-in);
      }
    a:hover .columns {
      background: #183a48;
    }
    a:first-child .columns {
      border-right: 2px dotted #183a48;
    }
    h4 {
      @extend .starred;
      margin-top: emCalc(30px);
      color: white;
      text-transform: uppercase;
      font-size: emCalc(40px);
      letter-spacing: 0.3em;
    }
    p {
      font-size: emCalc(24px);
      margin-bottom: emCalc(60px);
    }
  }
}

#enough {
  background: url(../images/Designer.jpg) no-repeat;
  @include background-size(cover);
  text-align: center;
  h1 {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: white;
    font-size: emCalc(54px);
    padding: emCalc(100px) 0;
    margin: 0;
  }
}

#show {
  background: url(../images/eaglehalftone.jpg);
  @include background-size(cover);
  padding: emCalc(120px) 0;
  span {
    font-family:$body-font-family;
    font-weight:600;
  }
  a.btn {
    width:33.33%;
    //background:$red url('../images/tickets.png') no-repeat 12px center;
    background-size:40px;
    //padding-left:60px;
  }
  .panel {
    background: #fff url(../images/ornate-top.gif) no-repeat;
    background-position: top center;
    padding-bottom: emCalc(30px);
    position: relative;
    &:before {
      content: " ";
      display: block;
      width: 300px;
      height: 90px;
      background: url(../images/year-2013.png);
      position: absolute;
      top: -60px;
      right: -10px;
      @media only screen and (max-width: 1020px) {
        right: 0px;
      }
    }
    .date {
        text-transform: uppercase;
        text-align:left;
        @media only screen and (min-width: #{$small-screen}) {
          position:relative;
          bottom:-65px;
        }
      h5 {
        letter-spacing:3px;
      }
      h1 {
        letter-spacing:16px;
        color:$red;
        font-size:$h1-font-size * 1.25;
        line-height:1;
        @media #{$small-max} {
          font-size:$h2-font-size;
        }
      }
    }
    .info {
      text-transform: uppercase;
      text-align:left;
      border-bottom:1px solid $grey;
      border-left:1px solid $grey;
      border-right:1px solid $grey;
      &.info-top {
        border-top:1px solid $grey;
      }
      &:last-child {
        border:#fff;
        h5 {
          padding-top:10px;
        }
      }
      h2 {
        margin:10px 0 10px;
      }
      h5 {
        letter-spacing:5px;
      }
      .theader {
        @media #{$small-max} {
          h5 {
            letter-spacing:0px;
          }
        }
      }
      .large-2 {
        h5 {
          padding-top:15px;
          text-align:right;
        }
      }
      .large-10 {
        border-left:4px double $grey;
      }
      .border-right {
        @media only screen and (min-width: #{$small-screen}) {
          border-right-width:4px;
          border-right: double $grey;
        }
      }
      .cost {
        margin-top:10px;
        padding-top:15px;
        h5 span {
          font-size:$h2-font-size;
          line-height:1;
        }
      }
    }
  }
  text-align: center;
  .seal {
    max-width: 150px;
    margin-top:70px;
    @media only screen and (min-width: #{$small-screen}) {
      margin-top: -80px;
    }
  }
  h2 {
    font-size: emCalc(36px);
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin: emCalc(20px) 0 emCalc(10px);
  }
  .subheader {
    font-size: 1.3em;
    margin-bottom: 20px;
    em {
      font-family: $body-font-family;
      letter-spacing: 0.1em;
    }
  }
}


///////////////////////////////////

/* 0.0 Judges Page Styles */

///////////////////////////////////

#judging-process {
  background:$offwhite;
  @media #{$small} {
    background: url('../images/bg-letter.jpg');
    background-size:100% auto;
  }
  @media #{$small-max} {
    padding:80px 0;
  }
  line-height:1;
  text-align:center;
  h1.title {
    color:#000;
  }
  p {
    @include no-pm;
    color:$dark-grey;
    font-size:20px;
    font-style: italic;
    @media #{$small-max} {
      font-size: 18px;
    }
    &:first-child {
      margin-bottom:20px;
    }
  }
}

#judges {
  background: url('../images/bg-shieldblue.jpg') no-repeat #999 fixed top center;
  background-size:cover;
  span {
    font-family:$body-font-family;
    font-weight:600;
  }
  h1.title {
    color:#fff;
  }
  .panel {
    background: #fff url(../images/ornate-top.gif) no-repeat;
    background-position: top center;
    padding: emCalc(50px) inherit;
    margin-bottom:50px;
    position: relative;
    h1 {
      @include no-pm;
      padding:17px 0 20px;
      font-family:$slab;
      color:$red;
      margin-left:12px;
    }
    .info {
      text-transform: uppercase;
      text-align:left;
      border-bottom:4px double $grey;
      &.info-top {
        border-top:4px double $grey;
      }
      h5 {
        letter-spacing:5px;
        color:$dark-grey;
      }
      h4 {
        font-family:$slab;
        margin:20px 0;
        padding-left:10px;
      }
      h6 {
        font-family:$slab;
        color:#000;
        margin:20px 0;
        @media #{$small-max} {
          font-size:12px;
        }
      }
      .thumbnail {
        min-height:320px;
        background:url('../images/bg-thumbbd.jpg') no-repeat top center;
        img {
          margin: 20px auto 60px;
          display: block;
          max-width: 80%;
          max-height: 260px;
          transform:rotate(-7deg);
          -ms-transform:rotate(-7deg); /* IE 9 */
          -webkit-transform:rotate(-7deg); /* Safari and Chrome */
        }
      }
      .details {
        @media only screen and (min-width: #{$small-screen}) {
          border-left:1px solid $grey;
        }
        .row {
          border-bottom:1px solid $grey;
          div {
            border-right:1px solid $grey;
            &:last-child {
              border:0;
            }
          }
          &:last-child {
            background:#eee;
            p {
              margin-top:20px;
              text-transform: none;
            }
          }
        }
      }
    }
  }
}



///////////////////////////////////

/* 0.0 About Page Styles */

///////////////////////////////////

#about50 {
  background:$offwhite;
  @media #{$small} {
    background: url('../images/bg-letter.jpg');
    background-size:100% auto;
  }
  @media #{$small-max} {
    padding:80px 0;
  }
  line-height:1;
  p {
    @include no-pm;
    color:#000;
    font-size:22px;
    margin-bottom:20px;
    @media #{$small-max} {
      font-size: 18px;
    }
    &:last-child {
      margin-bottom:0;
    }
  }
  .about-pages a.btn {
    margin-bottom:0;
    background-color:#1a3e6b;
    padding:10px;
  }
}

#about-nav {
  padding:0;
  div {
    background:$red;
    padding:60px 50px 0;
    height:200px;
    text-transform: uppercase;
    &:hover {
      background-color: darken($red,2.5%);
    }
    p {
      color:lighten($red,15%);
      margin-bottom:-10px;
    }
    h2 {
      color:#fff;
    }
  }
  div.whitebg {
    background-color:$red;
  }
  a.left-pag {
    text-align:left;
    div {
      border-right:solid 3px darken($red,2.5%);
    }
  }
  a.right-pag {
    text-align:right;
  }
}


///////////////////////////////////

/* 0.0 Criteria & Requirements Page Styles */

///////////////////////////////////

.criteriatitle {
  a {
    z-index:1000;
    display:none;
    position:absolute;
    top:115px;
    width:100%;
    background:rgba(255,255,255,.5);
    padding-top:60px;
    padding-bottom:55px;
    @media only screen and (min-width:769px) and (max-width: 866px) {
      padding-top:100px;
      padding-bottom:125px;
    }
    @media only screen and (min-width:624px) and (max-width: 768px) {
      padding-top:30px;
      padding-bottom:28px;
    }
    img {
      margin: 0 auto;
      display:block;
      height:80px;
      width:auto;
    }
  }
}

#criteria-main {
  background:$offwhite;
  color:#000;
  a.btn {
    width:25%;
    margin:0 auto 20px;
    padding:10px 0;
  }
  h1.title {
    color:#000;
  }
  @media #{$small} {
    background: url('../images/bg-letter.jpg');
    background-size:100% auto;
  }
  @media #{$small-max} {
    padding:80px 0;
  }
  span {
    color:$red;
    font-style: italic;
  }
  ul {
    padding-left:20px;
    li {
      p {
        @include no-pm;
        font-size:18px;
        margin-bottom:20px;
        @media #{$small-max} {
          font-size: 18px;
        }
      }
    }
  }
}

#criteria-orbit {
  background:url('../images/bg-50.jpg') fixed repeat;
  #tabmenu {
    display:inline-block;
    list-style:none;
    width:100%;
    padding:10px 0;
    margin-bottom:0;
    background:#fff;
    li {
      display:inline-block;
      width:30%;
      margin-right: 1.6%;
      margin-left: 1.6%;
      a {
        font-family:$header-font-family;
        font-size:28px;
        text-transform:uppercase;
        color:#999;
        display:block;
        text-align:center;
        width:100%;
        background-color:#eee;
        padding:20px;
        img {
          margin-right:20px;
          @media #{$small-max} {
            display:none;
          }
        }
        &.active {
          color:#000;
          background-color:#fff;
        }
      }
    }
  }
  .orbit-container {
    background:#fff;
    color:#000;
  }
  ul#category-slider {
    padding-bottom:20px;
    & + .orbit-timer {display:none;}
    li {padding-right: 30px;padding-left: 30px;background:#fff;}
  }
}


///////////////////////////////////

/* 0.0 Fees & Deadlines Page Styles */

///////////////////////////////////


#deadlines {
  background:$offwhite;
  @media #{$small} {
    background: url('../images/bg-letter.jpg');
    background-size:100% auto;
  }
  @media #{$small-max} {
    padding:80px 0;
  }
  line-height:1;
  text-align:center;
  h1.title {
    color:#000;
    &.regulardeadlines {
      margin-top:50px;
    }
  }
  p {
    @include no-pm;
    // margin-bottom:30px;
    color:#000;
    font-size:28px;
    @media #{$small-max} {
      font-size: 18px;
    }
    &.regulardeadlines {
      margin-bottom:10px;
    }
    &.fineprint {
      color:#000;
      font-size:14px;
      line-height:1;
      margin-top:20px;
    }
  }
}

#paystojoin {
  background: url('../images/bg-shieldblue.jpg') no-repeat #999 fixed top center;
  background-size:cover;
  h1.title {
    color:#fff;
  }
  h4 {
    color:#fff;
  }
  a.btn {
    margin:0;
  }
}

///////////////////////////////////

/* 0.0 Drop-off Locations Page Styles */

///////////////////////////////////


#dropoff {
  background:$offwhite;
  @media #{$small} {
    background: url('../images/bg-letter.jpg');
    background-size:100% auto;
  }
  @media #{$small-max} {
    padding:80px 0;
  }
  line-height:1;
  h1.title {
    color:#000;
    text-align:center;
    &.regulardeadlines {
      margin-top:50px;
    }
  }
  p {
    @include no-pm;
    margin-bottom:30px;
    color:#000;
    font-size:28px;
    @media #{$small-max} {
      font-size: 18px;
    }
    span {
      color:$red;
      font-style: italic;
    }
  }
}

#droplocations {
  background: url('../images/bg-shieldblue.jpg') no-repeat #999 fixed top center;
  background-size:cover;
  h1.title {
    color:#fff;
    text-align:center;
  }
  .panel {
    background: #fff url(../images/ornate-top.gif) no-repeat;
    background-position: top center;
    padding: emCalc(50px) inherit;
    margin-bottom:50px;
    position: relative;
    h2.title {
      color:#000;
      font-family:$header-font-family;
      margin-bottom:20px;
      text-align:center;
    }
    p {
      color:#000;
      text-align:center;
      font-size:120%;
      span {
        color:$red;
        font-style: italic;
      }
    }
    .row:last-child p {
      margin-bottom:0;
    }
  }
}

///////////////////////////////////

/* 0.0 Winners Page Styles */

///////////////////////////////////

#winners {
  background:$offwhite;
  @media #{$small} {
    background: url('../images/bg-letter.jpg');
    background-size:100% auto;
  }
  @media #{$small-max} {
    padding:80px 0;
  }
  line-height:1;
  h1.title {
    color:#000;
    margin-bottom:30px;
    text-align:center;
  }
  p {
    @include no-pm;
    color:#000;
    font-size:28px;
    @media #{$small-max} {
      font-size: 18px;
    }
    &:first-child {
      margin-bottom:20px;
    }
  }
}


///////////////////////////////////

/* 0.0 2013 5-0 Show Page Styles */

///////////////////////////////////

#showdetails {
  background: url(../images/eaglehalftone.jpg);
  @include background-size(cover);
  padding: emCalc(120px) 0;
  text-align: center;
  span {
    font-family:$body-font-family;
    font-weight:600;
  }
  a.btn {
    width:33.33%;
    background:$red url('../images/tickets.png') no-repeat 12px center;
    background-size:40px;
    padding-left:60px;
  }
  .panel {
    background: #fff url(../images/ornate-top.gif) no-repeat;
    background-position: top center;
    padding-bottom: emCalc(30px);
    position: relative;
    p {
      text-align:left;
      span {
        color:$red;
        font-size:120%;
        vertical-align: center;
      }
    }
    .row {
      margin-bottom:10px;
      .large-10 {
        @media #{$small} {
         border-left:1px solid $grey;
        }
      }
    }
    &:before {
      content: " ";
      display: block;
      width: 300px;
      height: 90px;
      background: url(../images/year-2013.png);
      position: absolute;
      top: -60px;
      right: -10px;
      @media only screen and (max-width: 1020px) {
        right: 0px;
      }
    }
  }
}

///////////////////////////////////

/* 0.0 FAQ's Page Styles */

///////////////////////////////////


#faqs {
  background:$offwhite;
  @media #{$small} {
    background: url('../images/bg-letter.jpg');
    background-size:100% auto;
  }
  @media #{$small-max} {
    padding:80px 0;
  }
  line-height:1;
  h1.title {
    color:#000;
    text-align:center;
    &.regulardeadlines {
      margin-top:50px;
    }
  }
  p {
    @include no-pm;
    margin-bottom:30px;
    color:#000;
    font-size:28px;
    @media #{$small-max} {
      font-size: 18px;
    }
  }
  a.btn {
    width:50%;
  }
}